<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-3 col-6 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="sohil" class="img-fluid" title="sohil">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a<span class="text_clr"> mern stack developer</span> and freelancer</h1>
                        <a href="/weather" target="_sohil" ><button>About Me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>  
    {{>footer}}
</body>
</html>